.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #198754;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.icon-wrapper:hover {
  background-color: #198754;
}

.icon-wrapper:hover svg {
  fill: white;
}



/* .mt-10{
    margin-top: 10px;
} */

.nav-hover {
  padding: 6px 14px;
  border-radius: 8px;
  margin-left: 10px; /* spacing between items */
  transition: all 0.3s ease;
}

.nav-hover:hover {
  background-color: #198754; /* Bootstrap green */
  color: white !important;
  transform: scale(1.05);
}

